.primary-button {
  padding: 0 3rem;
  background-color: $primary-color-grey;
  color: $primary-color;
  font-weight: bold;
  border: 1px solid $primary-color;
  text-decoration: none;
  width: 10rem;
 
  
  font-size: $h5;
  &:hover {
    background-color: $dark-color;
  }
}

.secondary-button {
  padding: 0rem 3rem;
  border: 1px solid #000;
  color: $light-color;
  font-size: $h5;
  text-decoration: none;
}
