.text-link {
  text-decoration: none;
  color: $light-color;
  &:hover {
    text-decoration: underline;
  }

}

.text-link Link {
  &:active { text-decoration: underline;

  }
}

#links a {
  text-decoration: none;
  &:active{text-decoration: underline;}

}