.cart-gallery{
    margin:0;
    
    width: 100%;
    // justify-content: center;
    // align-items: center;
    
    background-color: $primary-color-grey;
}

.cart-card{
    width: 40rem;
    height:8rem;
    margin: 1rem;
    border:2px solid black;
    border-radius: 1rem;
    background-color:$dark-grey;

    // margin:0;
    // // display: flex;
    // // flex-wrap: wrap;
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    // margin: 50px 0;
    // background-color: $primary-color-grey;
 
  
}

.cart-image{
    width: 8rem;
    height: 7rem;
}

.cart-container{

    height: 40rem;

    overflow: scroll;
   
    background-color: $primary-color-grey;
    align-items: center;
  
}



.order-summary{
    width: 100%;
    height: 100%;
    margin: 1rem;
    border:2px solid black;
    border-radius: 1rem;
    padding:1rem;
    background-color:$dark-grey;
    
    &-title{
        margin: 1rem;
        font-size: 2rem;
        font-weight: 600;
        color: $light-color;
    }
    
}

.line-1{
    width: 100%;
    height: 1px;
    background-color: $light-color;
    margin: 1rem 0;
}


.checkout-cart-button{
    text-align: center;
    font-size: 24px;
    color:$dark-color;
    background:orangered;
    width: 100%;
    padding: 0.5rem;
    border:0;
    outline:none;
    text-align: center;
    margin-top: 20px;
    border-radius:20px ;
    cursor: pointer;
    &-disable{
        text-align: center;
        font-size: 24px;
        color:$dark-color;
       
        width: 100%;
        padding: 0.5rem;
        border:0;
        outline:none;
        text-align: center;
        margin-top: 20px;
        border-radius:20px ;
        cursor: disabled;
        background-color:grey;
        
    }
}

.orange-color{
    color:orangered;
}


.shipping-button{
    width: 90%;
    height: 3rem;
     margin: 10px;
     background-color: $dark-color;
     color: $light-color;
     border-radius: 10px;
    
        &-disable{
            width: 90%;
            height: 3rem;
            margin: 10px;
            background-color: grey;
            color: $light-color;
            border-radius: 10px;
        }
     &:hover{
         background: orangered;
         color: $light-color;
     }


 }