
.container{
   
    height: 35rem;
    
    background-color: $primary-color-grey;
    display: flex;
    justify-content: center;
  
   

    &-md{
        
        background-color: #3C3636;
        width: 45%;
        height: 70%;
      
        padding: 2rem
    }
}




.margin{
    &-sm{
        margin: 1rem;
    }
}