.grid {
  display: grid;
}

.grid-2up {
  grid-template-columns: 1fr;
  gap: 2rem;
  @include breakpoint-up(medium) {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-3up {
  grid-template-columns: 1fr;
  gap: 2rem;
  @include breakpoint-up(medium) {
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4up {
  grid-template-columns: 1fr;
  gap: 2rem;
  @include breakpoint-up(medium) {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint-up(large) {
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
