.wrapper {
  max-width: $wrapper-max-width;
  margin: 0 auto;
  @include breakpoint-down(large) {
    margin: 0 4rem;
  }
  @include breakpoint-down(medium) {
    margin: 0 2rem;
  }
}

.text-center {
  text-align: center;
}
