.search-box{
    border: solid white 2px;
    border-radius: 10px;
    width: 15rem;
    padding-left: 6px;
  
  
}
.input-field{
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    color:$light-color;
    width: 13rem;
    

}