@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Nunito:wght@300;400;800&display=swap");

$primary-font: "Archivo", sans-serif;
$secondary-font: "Nunito", sans-serif;

$primary-color: #5d8850;
$primary-color-dark: #3d5735;
$text-color: #202123;
$light-color: #ffffff;

$wrapper-max-width: 1280px;

//font-size
$h1: 5rem; //80px
$h2: 4rem; //64px
$h3: 3rem; //48px
$h4: 2rem; //32px
$h5: 1.5rem; // 24px
$paragraph: 1.125rem; //18px

// Breakpoint Mixins
// 480px / 640px / 1024px / 1400px
$breakpoint-up: (
  "small": "30em",
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
);

// 639 / 1023 / 1399
$breakpoint-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoint-up, $size )) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down, $size )) {
    @content;
  }
}
